# emacs
*~
TAGS

# vim
.*.sw[a-z]

autom4te.cache
*.beam
*.asn1db

# Compiler derivatives
#
# Do not use too creative wildcards.
# Those might ignore files that should not be ignored.

armv7l-unknown-linux-gnueabihf
i686-pc-linux-gnu
x86_64-unknown-linux-gnu
i386-apple-darwin[0-9]*.[0-9]*.[0-9]*
x86_64-apple-darwin[0-9]*.[0-9]*.[0-9]*
sparc-sun-solaris[0-9]*.[0-9]*
i386-pc-solaris[0-9]*.[0-9]*
i386-unknown-freebsd[0-9]*.[0-9]*
tile-tilera-linux-gnu
powerpc-unknown-linux-gnu
aarch64-unknown-linux-gnu
i386-elf-ose
powerpc-unknown-ose

# Mac OS X
a.out.dSYM/

%% common test leftovers
test/*.html
test/*.js
test/*.css
test/ct_run.*
test/variables-*
test/ttb_last_config
test/ttb_upload_ttb*
test/nonode@nohost*
test/Mnesia.*

# Used by applications that run javadoc (e.g. ic).
JAVADOC-GENERATED

# Used by applications that run ic.
IDL-GENERATED

# Anchored from $ERL_TOP
/configure
/config.log
/config.status

/lib/*/ebin/*.app
/lib/*/ebin/*.appup

/doc/index.html
/doc/release_notes.html
/doc/notes.html
/doc/notes.xml
/lib/*/doc/html/*.html
/lib/*/doc/html/*.css
/lib/*/doc/html/js
/lib/*/doc/html/*.gif
/lib/*/doc/html/*.jpg
/lib/*/doc/html/*.png
/lib/*/doc/html/*.eix
/lib/*/doc/man[0-9]/*.[0-9]
/lib/*/doc/pdf/*.fo
/lib/*/doc/pdf/*.pdf
/lib/*/doc/xml/*.xml
/lib/*/doc/src/notes.xml

/lib/configure
/lib/config.log
/lib/config.status


# orber & cos* applications

/lib/orber/test/idl_output
/lib/cosEvent/test/idl_output
/lib/cosNotification/test/idl_output
/lib/cosTransactions/test/idl_output

/lib/cosEvent/include/CosEventChannelAdmin.hrl
/lib/cosEvent/include/CosEventChannelAdmin_ConsumerAdmin.hrl
/lib/cosEvent/include/CosEventChannelAdmin_EventChannel.hrl
/lib/cosEvent/include/CosEventChannelAdmin_ProxyPullConsumer.hrl
/lib/cosEvent/include/CosEventChannelAdmin_ProxyPullSupplier.hrl
/lib/cosEvent/include/CosEventChannelAdmin_ProxyPushConsumer.hrl
/lib/cosEvent/include/CosEventChannelAdmin_ProxyPushSupplier.hrl
/lib/cosEvent/include/CosEventChannelAdmin_SupplierAdmin.hrl
/lib/cosEvent/include/CosEventComm.hrl
/lib/cosEvent/include/CosEventComm_PullConsumer.hrl
/lib/cosEvent/include/CosEventComm_PullSupplier.hrl
/lib/cosEvent/include/CosEventComm_PushConsumer.hrl
/lib/cosEvent/include/CosEventComm_PushSupplier.hrl
/lib/cosEvent/include/oe_CosEventChannelAdmin.hrl
/lib/cosEvent/include/oe_CosEventComm.hrl
/lib/cosEvent/src/CosEventChannelAdmin_AlreadyConnected.erl
/lib/cosEvent/src/CosEventChannelAdmin_ConsumerAdmin.erl
/lib/cosEvent/src/CosEventChannelAdmin_EventChannel.erl
/lib/cosEvent/src/CosEventChannelAdmin_ProxyPullConsumer.erl
/lib/cosEvent/src/CosEventChannelAdmin_ProxyPullSupplier.erl
/lib/cosEvent/src/CosEventChannelAdmin_ProxyPushConsumer.erl
/lib/cosEvent/src/CosEventChannelAdmin_ProxyPushSupplier.erl
/lib/cosEvent/src/CosEventChannelAdmin_SupplierAdmin.erl
/lib/cosEvent/src/CosEventChannelAdmin_TypeError.erl
/lib/cosEvent/src/CosEventComm_Disconnected.erl
/lib/cosEvent/src/CosEventComm_PullConsumer.erl
/lib/cosEvent/src/CosEventComm_PullSupplier.erl
/lib/cosEvent/src/CosEventComm_PushConsumer.erl
/lib/cosEvent/src/CosEventComm_PushSupplier.erl
/lib/cosEvent/src/oe_CosEventChannelAdmin.erl
/lib/cosEvent/src/oe_CosEventComm.erl
/lib/cosEvent/src/oe_CosEventComm_CAdmin.erl
/lib/cosEvent/src/oe_CosEventComm_CAdmin.hrl
/lib/cosEvent/src/oe_CosEventComm_Channel.erl
/lib/cosEvent/src/oe_CosEventComm_Channel.hrl
/lib/cosEvent/src/oe_CosEventComm_Event.erl
/lib/cosEvent/src/oe_CosEventComm_Event.hrl
/lib/cosEvent/src/oe_CosEventComm_PullerS.erl
/lib/cosEvent/src/oe_CosEventComm_PullerS.hrl
/lib/cosEvent/src/oe_CosEventComm_PusherS.erl
/lib/cosEvent/src/oe_CosEventComm_PusherS.hrl
/lib/cosEvent/src/oe_cosEventApp.erl
/lib/cosEvent/src/oe_cosEventApp.hrl

/lib/cosEventDomain/include/CosEventDomainAdmin.hrl
/lib/cosEventDomain/include/CosEventDomainAdmin_EventDomain.hrl
/lib/cosEventDomain/include/CosEventDomainAdmin_EventDomainFactory.hrl
/lib/cosEventDomain/include/oe_CosEventDomainAdmin.hrl
/lib/cosEventDomain/src/CosEventDomainAdmin.erl
/lib/cosEventDomain/src/CosEventDomainAdmin_AlreadyExists.erl
/lib/cosEventDomain/src/CosEventDomainAdmin_Connection.erl
/lib/cosEventDomain/src/CosEventDomainAdmin_ConnectionIDSeq.erl
/lib/cosEventDomain/src/CosEventDomainAdmin_ConnectionNotFound.erl
/lib/cosEventDomain/src/CosEventDomainAdmin_CycleCreationForbidden.erl
/lib/cosEventDomain/src/CosEventDomainAdmin_CycleSeq.erl
/lib/cosEventDomain/src/CosEventDomainAdmin_DiamondCreationForbidden.erl
/lib/cosEventDomain/src/CosEventDomainAdmin_DiamondSeq.erl
/lib/cosEventDomain/src/CosEventDomainAdmin_DomainIDSeq.erl
/lib/cosEventDomain/src/CosEventDomainAdmin_DomainNotFound.erl
/lib/cosEventDomain/src/CosEventDomainAdmin_EventDomain.erl
/lib/cosEventDomain/src/CosEventDomainAdmin_EventDomainFactory.erl
/lib/cosEventDomain/src/CosEventDomainAdmin_MemberIDSeq.erl
/lib/cosEventDomain/src/CosEventDomainAdmin_RouteSeq.erl
/lib/cosEventDomain/src/oe_CosEventDomainAdmin.erl

/lib/cosFileTransfer/include/CosFileTransfer.hrl
/lib/cosFileTransfer/include/CosFileTransfer_Directory.hrl
/lib/cosFileTransfer/include/CosFileTransfer_File.hrl
/lib/cosFileTransfer/include/CosFileTransfer_FileIterator.hrl
/lib/cosFileTransfer/include/CosFileTransfer_FileTransferSession.hrl
/lib/cosFileTransfer/include/CosFileTransfer_VirtualFileSystem.hrl
/lib/cosFileTransfer/include/oe_CosFileTransfer.hrl
/lib/cosFileTransfer/src/CosFileTransfer.erl
/lib/cosFileTransfer/src/CosFileTransfer_AccessLevel.erl
/lib/cosFileTransfer/src/CosFileTransfer_CommandNotImplementedException.erl
/lib/cosFileTransfer/src/CosFileTransfer_Directory.erl
/lib/cosFileTransfer/src/CosFileTransfer_File.erl
/lib/cosFileTransfer/src/CosFileTransfer_FileIterator.erl
/lib/cosFileTransfer/src/CosFileTransfer_FileList.erl
/lib/cosFileTransfer/src/CosFileTransfer_FileNameList.erl
/lib/cosFileTransfer/src/CosFileTransfer_FileNotFoundException.erl
/lib/cosFileTransfer/src/CosFileTransfer_FileTransferSession.erl
/lib/cosFileTransfer/src/CosFileTransfer_FileWrapper.erl
/lib/cosFileTransfer/src/CosFileTransfer_IllegalOperationException.erl
/lib/cosFileTransfer/src/CosFileTransfer_ProtocolAddressList.erl
/lib/cosFileTransfer/src/CosFileTransfer_ProtocolSupport.erl
/lib/cosFileTransfer/src/CosFileTransfer_RequestFailureException.erl
/lib/cosFileTransfer/src/CosFileTransfer_SessionException.erl
/lib/cosFileTransfer/src/CosFileTransfer_SupportedProtocolAddresses.erl
/lib/cosFileTransfer/src/CosFileTransfer_TransferException.erl
/lib/cosFileTransfer/src/CosFileTransfer_VirtualFileSystem.erl
/lib/cosFileTransfer/src/CosFileTransfer_VirtualFileSystem_ContentList.erl
/lib/cosFileTransfer/src/oe_CosFileTransfer.erl

/lib/cosNotification/include/CosNotification.hrl
/lib/cosNotification/include/CosNotification_AdminPropertiesAdmin.hrl
/lib/cosNotification/include/CosNotification_QoSAdmin.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_ConsumerAdmin.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_EventChannel.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_EventChannelFactory.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_ProxyConsumer.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_ProxyPullConsumer.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_ProxyPullSupplier.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_ProxyPushConsumer.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_ProxyPushSupplier.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_ProxySupplier.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_SequenceProxyPullConsumer.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_SequenceProxyPullSupplier.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_SequenceProxyPushConsumer.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_SequenceProxyPushSupplier.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_StructuredProxyPullConsumer.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_StructuredProxyPullSupplier.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_StructuredProxyPushConsumer.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_StructuredProxyPushSupplier.hrl
/lib/cosNotification/include/CosNotifyChannelAdmin_SupplierAdmin.hrl
/lib/cosNotification/include/CosNotifyComm.hrl
/lib/cosNotification/include/CosNotifyComm_NotifyPublish.hrl
/lib/cosNotification/include/CosNotifyComm_NotifySubscribe.hrl
/lib/cosNotification/include/CosNotifyComm_PullConsumer.hrl
/lib/cosNotification/include/CosNotifyComm_PullSupplier.hrl
/lib/cosNotification/include/CosNotifyComm_PushConsumer.hrl
/lib/cosNotification/include/CosNotifyComm_PushSupplier.hrl
/lib/cosNotification/include/CosNotifyComm_SequencePullConsumer.hrl
/lib/cosNotification/include/CosNotifyComm_SequencePullSupplier.hrl
/lib/cosNotification/include/CosNotifyComm_SequencePushConsumer.hrl
/lib/cosNotification/include/CosNotifyComm_SequencePushSupplier.hrl
/lib/cosNotification/include/CosNotifyComm_StructuredPullConsumer.hrl
/lib/cosNotification/include/CosNotifyComm_StructuredPullSupplier.hrl
/lib/cosNotification/include/CosNotifyComm_StructuredPushConsumer.hrl
/lib/cosNotification/include/CosNotifyComm_StructuredPushSupplier.hrl
/lib/cosNotification/include/CosNotifyFilter.hrl
/lib/cosNotification/include/CosNotifyFilter_Filter.hrl
/lib/cosNotification/include/CosNotifyFilter_FilterAdmin.hrl
/lib/cosNotification/include/CosNotifyFilter_FilterFactory.hrl
/lib/cosNotification/include/CosNotifyFilter_MappingFilter.hrl
/lib/cosNotification/include/oe_CosNotification.hrl
/lib/cosNotification/include/oe_CosNotifyChannelAdmin.hrl
/lib/cosNotification/include/oe_CosNotifyComm.hrl
/lib/cosNotification/include/oe_CosNotifyFilter.hrl
/lib/cosNotification/src/CosNotification.erl
/lib/cosNotification/src/CosNotification_AdminPropertiesAdmin.erl
/lib/cosNotification/src/CosNotification_EventBatch.erl
/lib/cosNotification/src/CosNotification_EventHeader.erl
/lib/cosNotification/src/CosNotification_EventType.erl
/lib/cosNotification/src/CosNotification_EventTypeSeq.erl
/lib/cosNotification/src/CosNotification_FixedEventHeader.erl
/lib/cosNotification/src/CosNotification_NamedPropertyRange.erl
/lib/cosNotification/src/CosNotification_NamedPropertyRangeSeq.erl
/lib/cosNotification/src/CosNotification_Property.erl
/lib/cosNotification/src/CosNotification_PropertyError.erl
/lib/cosNotification/src/CosNotification_PropertyErrorSeq.erl
/lib/cosNotification/src/CosNotification_PropertyRange.erl
/lib/cosNotification/src/CosNotification_PropertySeq.erl
/lib/cosNotification/src/CosNotification_QoSAdmin.erl
/lib/cosNotification/src/CosNotification_StructuredEvent.erl
/lib/cosNotification/src/CosNotification_UnsupportedAdmin.erl
/lib/cosNotification/src/CosNotification_UnsupportedQoS.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_AdminIDSeq.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_AdminLimit.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_AdminLimitExceeded.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_AdminNotFound.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_ChannelIDSeq.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_ChannelNotFound.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_ConnectionAlreadyActive.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_ConnectionAlreadyInactive.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_ConsumerAdmin.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_EventChannel.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_EventChannelFactory.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_NotConnected.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_ProxyConsumer.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_ProxyIDSeq.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_ProxyNotFound.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_ProxyPullConsumer.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_ProxyPullSupplier.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_ProxyPushConsumer.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_ProxyPushSupplier.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_ProxySupplier.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_SequenceProxyPullConsumer.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_SequenceProxyPullSupplier.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_SequenceProxyPushConsumer.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_SequenceProxyPushSupplier.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_StructuredProxyPullConsumer.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_StructuredProxyPullSupplier.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_StructuredProxyPushConsumer.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_StructuredProxyPushSupplier.erl
/lib/cosNotification/src/CosNotifyChannelAdmin_SupplierAdmin.erl
/lib/cosNotification/src/CosNotifyComm_InvalidEventType.erl
/lib/cosNotification/src/CosNotifyComm_NotifyPublish.erl
/lib/cosNotification/src/CosNotifyComm_NotifySubscribe.erl
/lib/cosNotification/src/CosNotifyComm_PullConsumer.erl
/lib/cosNotification/src/CosNotifyComm_PullSupplier.erl
/lib/cosNotification/src/CosNotifyComm_PushConsumer.erl
/lib/cosNotification/src/CosNotifyComm_PushSupplier.erl
/lib/cosNotification/src/CosNotifyComm_SequencePullConsumer.erl
/lib/cosNotification/src/CosNotifyComm_SequencePullSupplier.erl
/lib/cosNotification/src/CosNotifyComm_SequencePushConsumer.erl
/lib/cosNotification/src/CosNotifyComm_SequencePushSupplier.erl
/lib/cosNotification/src/CosNotifyComm_StructuredPullConsumer.erl
/lib/cosNotification/src/CosNotifyComm_StructuredPullSupplier.erl
/lib/cosNotification/src/CosNotifyComm_StructuredPushConsumer.erl
/lib/cosNotification/src/CosNotifyComm_StructuredPushSupplier.erl
/lib/cosNotification/src/CosNotifyFilter_CallbackIDSeq.erl
/lib/cosNotification/src/CosNotifyFilter_CallbackNotFound.erl
/lib/cosNotification/src/CosNotifyFilter_ConstraintExp.erl
/lib/cosNotification/src/CosNotifyFilter_ConstraintExpSeq.erl
/lib/cosNotification/src/CosNotifyFilter_ConstraintIDSeq.erl
/lib/cosNotification/src/CosNotifyFilter_ConstraintInfo.erl
/lib/cosNotification/src/CosNotifyFilter_ConstraintInfoSeq.erl
/lib/cosNotification/src/CosNotifyFilter_ConstraintNotFound.erl
/lib/cosNotification/src/CosNotifyFilter_DuplicateConstraintID.erl
/lib/cosNotification/src/CosNotifyFilter_Filter.erl
/lib/cosNotification/src/CosNotifyFilter_FilterAdmin.erl
/lib/cosNotification/src/CosNotifyFilter_FilterFactory.erl
/lib/cosNotification/src/CosNotifyFilter_FilterIDSeq.erl
/lib/cosNotification/src/CosNotifyFilter_FilterNotFound.erl
/lib/cosNotification/src/CosNotifyFilter_InvalidConstraint.erl
/lib/cosNotification/src/CosNotifyFilter_InvalidGrammar.erl
/lib/cosNotification/src/CosNotifyFilter_InvalidValue.erl
/lib/cosNotification/src/CosNotifyFilter_MappingConstraintInfo.erl
/lib/cosNotification/src/CosNotifyFilter_MappingConstraintInfoSeq.erl
/lib/cosNotification/src/CosNotifyFilter_MappingConstraintPair.erl
/lib/cosNotification/src/CosNotifyFilter_MappingConstraintPairSeq.erl
/lib/cosNotification/src/CosNotifyFilter_MappingFilter.erl
/lib/cosNotification/src/CosNotifyFilter_UnsupportedFilterableData.erl
/lib/cosNotification/src/cosNotification_Grammar.erl
/lib/cosNotification/src/oe_CosNotification.erl
/lib/cosNotification/src/oe_CosNotificationComm.hrl
/lib/cosNotification/src/oe_CosNotificationComm_Event.erl
/lib/cosNotification/src/oe_CosNotificationComm_Event.hrl
/lib/cosNotification/src/oe_CosNotifyChannelAdmin.erl
/lib/cosNotification/src/oe_CosNotifyComm.erl
/lib/cosNotification/src/oe_CosNotifyFilter.erl
/lib/cosNotification/src/oe_cosNotificationAppComm.erl
/lib/cosNotification/src/oe_cosNotificationAppComm.hrl

/lib/cosProperty/include/CosPropertyService.hrl
/lib/cosProperty/include/CosPropertyService_PropertiesIterator.hrl
/lib/cosProperty/include/CosPropertyService_PropertyNamesIterator.hrl
/lib/cosProperty/include/CosPropertyService_PropertySet.hrl
/lib/cosProperty/include/CosPropertyService_PropertySetDef.hrl
/lib/cosProperty/include/CosPropertyService_PropertySetDefFactory.hrl
/lib/cosProperty/include/CosPropertyService_PropertySetFactory.hrl
/lib/cosProperty/include/oe_CosProperty.hrl
/lib/cosProperty/src/CosPropertyService_ConflictingProperty.erl
/lib/cosProperty/src/CosPropertyService_ConstraintNotSupported.erl
/lib/cosProperty/src/CosPropertyService_FixedProperty.erl
/lib/cosProperty/src/CosPropertyService_InvalidPropertyName.erl
/lib/cosProperty/src/CosPropertyService_MultipleExceptions.erl
/lib/cosProperty/src/CosPropertyService_Properties.erl
/lib/cosProperty/src/CosPropertyService_PropertiesIterator.erl
/lib/cosProperty/src/CosPropertyService_Property.erl
/lib/cosProperty/src/CosPropertyService_PropertyDef.erl
/lib/cosProperty/src/CosPropertyService_PropertyDefs.erl
/lib/cosProperty/src/CosPropertyService_PropertyException.erl
/lib/cosProperty/src/CosPropertyService_PropertyExceptions.erl
/lib/cosProperty/src/CosPropertyService_PropertyMode.erl
/lib/cosProperty/src/CosPropertyService_PropertyModes.erl
/lib/cosProperty/src/CosPropertyService_PropertyNames.erl
/lib/cosProperty/src/CosPropertyService_PropertyNamesIterator.erl
/lib/cosProperty/src/CosPropertyService_PropertyNotFound.erl
/lib/cosProperty/src/CosPropertyService_PropertySet.erl
/lib/cosProperty/src/CosPropertyService_PropertySetDef.erl
/lib/cosProperty/src/CosPropertyService_PropertySetDefFactory.erl
/lib/cosProperty/src/CosPropertyService_PropertySetFactory.erl
/lib/cosProperty/src/CosPropertyService_PropertyTypes.erl
/lib/cosProperty/src/CosPropertyService_ReadOnlyProperty.erl
/lib/cosProperty/src/CosPropertyService_UnsupportedMode.erl
/lib/cosProperty/src/CosPropertyService_UnsupportedProperty.erl
/lib/cosProperty/src/CosPropertyService_UnsupportedTypeCode.erl
/lib/cosProperty/src/oe_CosProperty.erl

/lib/cosTime/include/CosTime.hrl
/lib/cosTime/include/CosTime_TIO.hrl
/lib/cosTime/include/CosTime_TimeService.hrl
/lib/cosTime/include/CosTime_UTO.hrl
/lib/cosTime/include/CosTimerEvent.hrl
/lib/cosTime/include/CosTimerEvent_TimerEventHandler.hrl
/lib/cosTime/include/CosTimerEvent_TimerEventService.hrl
/lib/cosTime/include/TimeBase.hrl
/lib/cosTime/include/oe_CosTime.hrl
/lib/cosTime/include/oe_CosTimerEvent.hrl
/lib/cosTime/include/oe_TimeBase.hrl
/lib/cosTime/src/CosTime_TIO.erl
/lib/cosTime/src/CosTime_TimeService.erl
/lib/cosTime/src/CosTime_TimeUnavailable.erl
/lib/cosTime/src/CosTime_UTO.erl
/lib/cosTime/src/CosTimerEvent_TimerEventHandler.erl
/lib/cosTime/src/CosTimerEvent_TimerEventService.erl
/lib/cosTime/src/CosTimerEvent_TimerEventT.erl
/lib/cosTime/src/TimeBase_IntervalT.erl
/lib/cosTime/src/TimeBase_UtcT.erl
/lib/cosTime/src/oe_CosTime.erl
/lib/cosTime/src/oe_CosTimerEvent.erl
/lib/cosTime/src/oe_TimeBase.erl

/lib/cosTransactions/include/CosTransactions.hrl
/lib/cosTransactions/include/CosTransactions_Control.hrl
/lib/cosTransactions/include/CosTransactions_Coordinator.hrl
/lib/cosTransactions/include/CosTransactions_RecoveryCoordinator.hrl
/lib/cosTransactions/include/CosTransactions_Resource.hrl
/lib/cosTransactions/include/CosTransactions_SubtransactionAwareResource.hrl
/lib/cosTransactions/include/CosTransactions_Terminator.hrl
/lib/cosTransactions/include/CosTransactions_TransactionFactory.hrl
/lib/cosTransactions/include/ETraP.hrl
/lib/cosTransactions/include/ETraP_Server.hrl
/lib/cosTransactions/include/oe_CosTransactions.hrl
/lib/cosTransactions/src/CosTransactions_Control.erl
/lib/cosTransactions/src/CosTransactions_Coordinator.erl
/lib/cosTransactions/src/CosTransactions_HeuristicCommit.erl
/lib/cosTransactions/src/CosTransactions_HeuristicHazard.erl
/lib/cosTransactions/src/CosTransactions_HeuristicMixed.erl
/lib/cosTransactions/src/CosTransactions_HeuristicRollback.erl
/lib/cosTransactions/src/CosTransactions_Inactive.erl
/lib/cosTransactions/src/CosTransactions_InvalidControl.erl
/lib/cosTransactions/src/CosTransactions_NoTransaction.erl
/lib/cosTransactions/src/CosTransactions_NotPrepared.erl
/lib/cosTransactions/src/CosTransactions_NotSubtransaction.erl
/lib/cosTransactions/src/CosTransactions_PropagationContext.erl
/lib/cosTransactions/src/CosTransactions_RecoveryCoordinator.erl
/lib/cosTransactions/src/CosTransactions_Resource.erl
/lib/cosTransactions/src/CosTransactions_SubtransactionAwareResource.erl
/lib/cosTransactions/src/CosTransactions_SubtransactionsUnavailable.erl
/lib/cosTransactions/src/CosTransactions_SynchronizationUnavailable.erl
/lib/cosTransactions/src/CosTransactions_Terminator.erl
/lib/cosTransactions/src/CosTransactions_TransIdentity.erl
/lib/cosTransactions/src/CosTransactions_TransactionFactory.erl
/lib/cosTransactions/src/CosTransactions_Unavailable.erl
/lib/cosTransactions/src/CosTransactions_WrongTransaction.erl
/lib/cosTransactions/src/CosTransactions_otid_t.erl
/lib/cosTransactions/src/ETraP_Server.erl
/lib/cosTransactions/src/oe_CosTransactions.erl

/lib/orber/COSS/CosNaming/CosNaming.hrl
/lib/orber/COSS/CosNaming/CosNaming_Binding.erl
/lib/orber/COSS/CosNaming/CosNaming_BindingIterator.erl
/lib/orber/COSS/CosNaming/CosNaming_BindingIterator.hrl
/lib/orber/COSS/CosNaming/CosNaming_BindingList.erl
/lib/orber/COSS/CosNaming/CosNaming_Name.erl
/lib/orber/COSS/CosNaming/CosNaming_NameComponent.erl
/lib/orber/COSS/CosNaming/CosNaming_NamingContext.erl
/lib/orber/COSS/CosNaming/CosNaming_NamingContext.hrl
/lib/orber/COSS/CosNaming/CosNaming_NamingContextExt.erl
/lib/orber/COSS/CosNaming/CosNaming_NamingContextExt.hrl
/lib/orber/COSS/CosNaming/CosNaming_NamingContextExt_AlreadyBound.erl
/lib/orber/COSS/CosNaming/CosNaming_NamingContextExt_CannotProceed.erl
/lib/orber/COSS/CosNaming/CosNaming_NamingContextExt_InvalidAddress.erl
/lib/orber/COSS/CosNaming/CosNaming_NamingContextExt_InvalidName.erl
/lib/orber/COSS/CosNaming/CosNaming_NamingContextExt_NotEmpty.erl
/lib/orber/COSS/CosNaming/CosNaming_NamingContextExt_NotFound.erl
/lib/orber/COSS/CosNaming/CosNaming_NamingContext_AlreadyBound.erl
/lib/orber/COSS/CosNaming/CosNaming_NamingContext_CannotProceed.erl
/lib/orber/COSS/CosNaming/CosNaming_NamingContext_InvalidName.erl
/lib/orber/COSS/CosNaming/CosNaming_NamingContext_NotEmpty.erl
/lib/orber/COSS/CosNaming/CosNaming_NamingContext_NotFound.erl
/lib/orber/COSS/CosNaming/oe_cos_naming.erl
/lib/orber/COSS/CosNaming/oe_cos_naming.hrl
/lib/orber/COSS/CosNaming/oe_cos_naming_ext.erl
/lib/orber/COSS/CosNaming/oe_cos_naming_ext.hrl

/lib/orber/examples/Stack/StackModule.hrl
/lib/orber/examples/Stack/StackModule_EmptyStack.erl
/lib/orber/examples/Stack/StackModule_Stack.erl
/lib/orber/examples/Stack/StackModule_Stack.hrl
/lib/orber/examples/Stack/StackModule_StackFactory.erl
/lib/orber/examples/Stack/StackModule_StackFactory.hrl
/lib/orber/examples/Stack/oe_stack.erl
/lib/orber/examples/Stack/oe_stack.hrl

/lib/orber/src/CORBA.hrl
/lib/orber/src/OrberApp.hrl
/lib/orber/src/OrberApp_IFR.erl
/lib/orber/src/OrberApp_IFR.hrl
/lib/orber/src/erlang.hrl
/lib/orber/src/erlang_binary.erl
/lib/orber/src/erlang_pid.erl
/lib/orber/src/erlang_port.erl
/lib/orber/src/erlang_ref.erl
/lib/orber/src/oe_CORBA.erl
/lib/orber/src/oe_CORBA.hrl
/lib/orber/src/oe_OrberIFR.erl
/lib/orber/src/oe_OrberIFR.hrl
/lib/orber/src/oe_erlang.erl
/lib/orber/src/oe_erlang.hrl


# ic

/lib/ic/examples/pre_post_condition/m.hrl
/lib/ic/examples/pre_post_condition/m_i.erl
/lib/ic/examples/pre_post_condition/m_i.hrl
/lib/ic/examples/pre_post_condition/m_NotAnInteger.erl
/lib/ic/examples/pre_post_condition/oe_ex.erl
/lib/ic/examples/pre_post_condition/oe_ex.hrl
/lib/ic/priv/com/
/lib/ic/priv/ic.jar
/lib/ic/src/icparse.erl
/lib/ic/doc/html/java
/lib/ic/java_src/SKIP
